<!DOCTYPE html>
<html>
<head>
  <title>Website</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
</head>
<body data-no-turbolink = "true">
		<div class="navbar">
              <div class="navbar-inner">
                <div class="container">
                  <ul class="nav">
                    <li> <%=link_to "Home" , pages_home_path %> </li>
                    <li> <%=link_to "About" , pages_about_path %> </li>
                    <li> <%=link_to "New Talents" , pages_new_talents_path %> </li>
                    <li> <%=link_to "Event organizer Contact" , pages_event_organizer_contact_path %> </li>
                  </ul>
                </div>
              </div>
            </div>
		</div>






<%= yield %>

</body>
</html>
